<!doctype html>
<html lang="es">

    <head>
        {% block title %} <title>TFG</title> {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- CSS propio-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'consulta_visualizacion/css/styles.css' %}">
    </head>

    <body>
        <!-- Menú principal -->
        <nav>
            <ul>
              <li><a href="{% url 'index' %}?dataset={{ request.GET.dataset }}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Inicio</a></li>
              <li><a href="{% url 'estadisticas' %}?dataset={{ request.GET.dataset }}" class="{% if request.resolver_match.url_name == 'estadisticas' %}active{% endif %}">Estadísticas</a></li>
              <li><a href="{% url 'consulta_sparql' %}?dataset={{ request.GET.dataset }}" class="{% if request.resolver_match.url_name == 'consulta_sparql' %}active{% endif %}">Consulta SPARQL</a></li>
              <li><a href="{% url 'ayuda' %}?dataset={{ request.GET.dataset }}" class="{% if request.resolver_match.url_name == 'ayuda' %}active{% endif %}">Ayuda</a></li>
            </ul>
          </nav>
                
        {% block content %} {% endblock %}
  
    </body>
  
</html>

