{% extends "base_generic.html" %}

{% block title %}
<title>Generando JSON | TFG</title>
{% endblock %}

{% block content %} 

    <!-- Texto informativo de la página de carga-->
    <div class="loading-container">
        <h2>Generando visualización...</h2>
        <p> Esta operación podría tardar unos minutos. </p>

        <!--Mensaje cambiante-->
        <p id="loading-message">Preparando la generación...</p>
    </div>

    <!--Comprobar el estado de la generación del JSON cada 2 segundos y actualizar dinámicamente el mensaje de carga en la pantalla-->
    <script>
        function checkStatus() {
            let dataset = "{{ dataset }}"; // Obtener el dataset desde Django 

            // Petición a la vista verificar_json
            fetch("{% url 'verificar_json' %}?dataset="+ dataset)
                // Convierte respuesta a JSON
                .then(response => response.json())
                //Verifica estado 
                .then(data => {
                    // Si exists es TRUE, significa que se ha generado el JSON y redirige a index
                    if (data.exists) {
                        sessionStorage.setItem("cambioDataset", "1"); // Para que aparezca la animación de carga del dataset
                        window.location.replace("{% url 'index' %}?dataset=" + encodeURIComponent(dataset));
                    } else if (data.generating) { // Si sigue en proceso, actualiza mensaje de carga y vuelve a llamar a la función en 2 segundos
                        document.getElementById("loading-message").innerText = data.progress;
                        setTimeout(checkStatus, 2000);
                    } else { // SI hay error, se muestra mensaje
                        document.getElementById("loading-message").innerText = "Error en la generación.";
                    }
                })
                .catch(error => console.error("Error verificando el estado:", error));
        }
        
        // Llamada a la función
        checkStatus();
    </script>
    
{% endblock %}


