{% extends "base_generic.html" %}

{% block title %}
<title> Estadísticas | TFG</title>
{% endblock %}

{% block content %}
    <div class="estadisticas">
        <div class="filtrado">
            <!-- Barra lateral de filtros -->
            <aside class="barra-filtros">
                <h2>Búsqueda de instancias</h2>

                <div class="busqueda-form" >
                <form method="GET" class="busqueda-form">
                    <input type="hidden" name="dataset" value="{{ dataset }}">

                    <div class="busqueda-group">
                        <label for="clase_base"> Clase base:</label>
                        <select name="clase_base" id="busqueda_clase_base">
                            <option value="todas" {% if clase_base == "todas" or not clase_base %}selected{% endif %}>Todas las clases</option>
                            {% for clase in clases_disponibles %}
                                <option value="{{ clase }}" {% if clase_base == clase %}selected{% endif %}>{{ clase }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <hr>
                
                    <div class="busqueda-group">
                        <label for="busqueda_clase">Buscar en Clase Adicional:</label>
                        <select name="filtro_clase" id="busqueda_clase">
                            <option value="">Seleccione una clase</option>
                            {% for clase in clases_disponibles %}
                                <option value="{{ clase }}" {% if filtro_clase == clase %}selected{% endif %}>{{ clase }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="busqueda-group">
                        <label for="busqueda_sujeto">Buscar Sujeto:</label>
                        <input type="text" name="filtro_sujeto" id="busqueda_sujeto" value="{{ filtro_sujeto }}">
                    </div>

                    <div class="busqueda-group">
                        <label for="busqueda_propiedad">Buscar por Propiedad:</label>
                        <select name="filtro_propiedad" id="busqueda_propiedad">
                            <option value="">Seleccione una propiedad</option>
                            {% for propiedad in propiedades_disponibles %}
                                <option value="{{ propiedad }}" {% if filtro_propiedad == propiedad %}selected{% endif %}>{{ propiedad }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="busqueda-group">
                        <label for="busqueda_objeto">Buscar Objeto:</label>
                        <input type="text" name="filtro_objeto" id="busqueda_objeto" value="{{ filtro_objeto }}">
                    </div>
                
                    <div class="busqueda-group">
                        <label for="modo_filtro">Modo de búsqueda:</label>
                        <select name="modo_filtro" id="modo_filtro">
                            <option value="AND" {% if modo_filtro == "AND" %}selected{% endif %}>Coincidir todos (AND)</option>
                            <option value="OR" {% if modo_filtro == "OR" %}selected{% endif %}>Coincidir alguno (OR)</option>
                        </select>
                    </div>

                    <div class="busqueda-botones">
                        <button type="submit">Buscar</button>
                        <button type="button" id="resetFilters">Limpiar</button>
                    </div>
                </form>
                </div>
            </aside>

        </div>
        
        <!--Dashboard del dataset. Gráficos y métricas-->
        <div class="info"> 
            <h1>Dashboard del dataset: {{dataset}}</h1>

            <!-- Tarjetas de métricas generales -->
            <div class="metricas">
                <div>
                    <p class="indicador">{{ num_tripletas }}</p>
                    <p>Total de Tripletas</p>
                </div>
                <div>
                    <p class="indicador">{{ num_clases }}</p>
                    <p>Número de Clases</p>
                </div>
                <div>
                    <p class="indicador">{{ num_instancias }}</p>
                    <p>Número de Instancias</p>
                </div>
                <div>
                    <p class="indicador">{{ num_propiedades }}</p>
                    <p>Número de Propiedades</p>
                </div>
            </div>

            <!-- Gráficos -->
            <div class="grafico-contenedor">
                <h2>Distribución de Clases</h2>
                <div class="grafico" id="grafico-clases"></div>
            </div>

            <div class="grafico-contenedor">        
                <h2>Distribución de Propiedades</h2>
                <div class="grafico" id="grafico-propiedades"></div>
            </div>

            <div class="grafico-contenedor">
                <h2>Relaciones entre instancias de las clases</h2>
                <div class="grafico" id="heatmap_instancias_clases"></div>
            </div>

            <div class="grafico-contenedor">
                <h2>Aparición de las propiedades en cada clase</h2>
                <div class="grafico" id="heatmap_propiedades_clases"></div>
            </div>

        </div>
    </div>

    <!-- JavaScript para los filtros-->
    {% load static %}
    <!-- Cargar jQuery primero -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Carga Select2 para mejorar los desplegables. Plugin de JQuery -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <!-- JavaScript para inicializar Select2 y limpiar los filtros -->
    <script>
        // Inicializar Select2 en los desplegables
        $(document).ready(function() {
            $('#busqueda_clase, #busqueda_propiedad, #busqueda_clase_base').select2({
                placeholder: "Seleccione una opción",
                allowClear: true,
                width: '100%'
            });

            // Botón para limpiar filtros
            $('#resetFilters').click(function() {
                window.location.href = window.location.pathname + "?dataset={{ dataset }}";
            });
        });
    </script>

    <!--SCRIPT GRÁFICOS
    Referencia a Plotly.js-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Configuración de Plotly
        var config = {
            displayModeBar: true,
            displaylogo: false,
            responsive: false,
        }
        
        // Disposición gráficos barra
        var layoutBar = {
            height: 500,
            margin: {"t": 50, "b": 50, "l": 20, "r": 20},
            xaxis: { tickangle: 45, automargin: true},
            yaxis: {automargin: true},
        }
    
        // Disposición de heatmaps
        var layoutHeatMap = {
            height: 500,
            margin: {"t": 50, "b": 50, "l": 20, "r": 20},
            xaxis: { tickangle: 45, tickmode: 'array', automargin: true},
            yaxis: {tickmode: 'array', automargin: true},
        };
        
        // CLASES
        // Carga y transformación de datos JSON para gráfico de clases
        var clases = JSON.parse('{{ distribucion_clases|default:"[]"|escapejs }}');
        var data_clases = [{
            x: clases.map(c => c[0]),
            y: clases.map(c => c[1]),
            type: 'bar',
        }]
        Plotly.newPlot('grafico-clases', data_clases, layoutBar, config);

        // PROPIEDADES
        var propiedades = JSON.parse('{{ distribucion_propiedades|default:"[]"|escapejs }}');
        var data_propiedades = [{
            x: propiedades.map(p => p[0]),
            y: propiedades.map(p => p[1]),
            type: 'bar',
        }]
        Plotly.newPlot('grafico-propiedades', data_propiedades, layoutBar, config);

        // HEATMAP PROPIEDADES Y CLASES
        // Transformación JSON para heatmaps
        var propiedades_clases = JSON.parse('{{ relacion_propiedades_clases|default:"[]"|escapejs }}');

        // Extraer las clases y propiedades en el orden en que aparecen en el JSON (de mayor a menor)
        let clasesUnicas = [...new Map(propiedades_clases.map(r => [r[0], r[0]])).values()];
        let propiedadesUnicas = [...new Map(propiedades_clases.map(r => [r[1], r[1]])).values()];
        // Crear matriz Z vacía 
        let matrizZ = clasesUnicas.map(() => new Array(propiedadesUnicas.length).fill(0));

        // Rellenar matriz Z con valores ordenados
        propiedades_clases.forEach(r => {
            let claseIndex = clasesUnicas.indexOf(r[0]);
            let propiedadIndex = propiedadesUnicas.indexOf(r[1]);
            matrizZ[claseIndex][propiedadIndex] = r[2]; // Asigna el número de ocurrencias
        });

        // Graficar el heatmap asegurando que lo más frecuente aparece arriba a la izquierda
        Plotly.newPlot('heatmap_propiedades_clases', [{
            x: propiedadesUnicas,  // Dejamos el orden original para que los más frecuentes queden a la izquierda
            y: clasesUnicas.reverse(),  // Invertimos solo el eje Y para que los más frecuentes estén arriba
            z: matrizZ.reverse(), // Invertimos las filas para que el orden se mantenga
            type: 'heatmap',
            colorscale: 'Jet',
            hoverongaps: false
        }], layoutHeatMap, config);


        // HEATMAP RELACIONES CLASES
        var relaciones_clases = JSON.parse('{{ relacion_instancias_clases|default:"[]"|escapejs }}');

        // Extraer clases 
        let clasesOrigenDestino = [...new Map(relaciones_clases.flatMap(r => [[r[0], r[0]], [r[1], r[1]]])).values()];
        // Crear matriz Z vacía
        let matrizZClases = clasesOrigenDestino.map(() => new Array(clasesOrigenDestino.length).fill(0));

        // Rellenar matriz Z con valores ordenados
        relaciones_clases.forEach(r => {
            let claseOrigen = clasesOrigenDestino.indexOf(r[0]);
            let claseDestino = clasesOrigenDestino.indexOf(r[1]);
            matrizZClases[claseOrigen][claseDestino] = r[2]; // Número total de relaciones
        });

        // Graficar el heatmap asegurando que lo más frecuente aparece arriba a la izquierda
        Plotly.newPlot('heatmap_instancias_clases', [{
            x: clasesOrigenDestino,  
            y: clasesOrigenDestino.reverse(), 
            z: matrizZClases.reverse(),  
            type: 'heatmap',
            colorscale: 'Jet',
            hoverongaps: false
        }], layoutHeatMap, config);
    
    </script>

{% endblock %}
