{% extends "base_generic.html" %}

{% block title %}
    <title>{{ clase }} | TFG</title>
{% endblock %}

{% block content %}
<div class="explorar-container">
    <h1>Clase: {{ clase }}</h1>

    <!-- Sección de propiedades -->
    <div class="info-card">
        <h2>Propiedades utilizadas</h2>

        {% if propiedades %}
            <ul>
                {% for nombre, frecuencia in propiedades.items %}
                    <li>{{ nombre }} ({{frecuencia}})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay propiedades registradas para esta clase.</p>
        {% endif %}

    </div>

    <!-- Sección de instancias con paginación -->
    <div class="info-card">
        <h2>Listado de instancias. Total: {{ num_instancias }} </h2>

        {% if instancias %}
            <!-- Botón para mostrar los filtros -->
            <button id="toggleFiltros">⚙️ Filtros</button>

            <!-- Contenedor de filtros (inicialmente oculto) -->
            <div id="filtrosContainer" class="filtros oculto">
                <form method="GET">
                    <input type="hidden" name="dataset" value="{{ dataset }}">
                    <input type="hidden" name="clase" value="{{ clase }}">

                    <label for="filtro_clase">Filtrar por Subclase:</label>
                    <input type="text" name="filtro_clase" id="filtro_clase" value="{{ request.GET.filtro_clase }}">

                    <label for="filtro_propiedad">Filtrar por Propiedad:</label>
                    <input type="text" name="filtro_propiedad" id="filtro_propiedad" value="{{ request.GET.filtro_propiedad }}">

                    <label for="filtro_valor">Filtrar por Valor:</label>
                    <input type="text" name="filtro_valor" id="filtro_valor" value="{{ request.GET.filtro_valor }}">

                    <button type="submit">Aplicar Filtros</button>
                </form>
            </div>

            <!-- JavaScript para manejar la visibilidad de los filtros -->
            <script>
                document.getElementById("toggleFiltros").addEventListener("click", function() {
                    var filtros = document.getElementById("filtrosContainer");
                    filtros.classList.toggle("oculto");
                });
            </script>

            <!--Mostrar instancias-->
            <ul>
                {% for instancia in instancias %}
                    <li><a href="{% url 'visualizar_instancia' %}?dataset={{ dataset }}&uri={{ instancia.uri|urlencode }}&nombre={{instancia.nombre|urlencode}}">
                        {{ instancia.nombre }}</a></li>
                {% endfor %}
            </ul>

            <!-- Controles de paginación -->
            <div class="pagination">
                {% if instancias.has_previous %}
                    <a href="?dataset={{ dataset }}&page=1">⬅⬅ Primera</a>
                    <a href="?dataset={{ dataset }}&page={{ instancias.previous_page_number }}">⬅ Anterior</a>
                {% endif %}

                <span>Página {{ instancias.number }} de {{ instancias.paginator.num_pages }}</span>

                {% if instancias.has_next %}
                    <a href="?dataset={{ dataset }}&page={{ instancias.next_page_number }}">Siguiente ➡</a>
                    <a href="?dataset={{ dataset }}&page={{ instancias.paginator.num_pages }}">Última  ➡➡</a>
                {% endif %}
            </div>

        {% else %}
            <p>No hay instancias de esta clase en el dataset.</p>
        {% endif %}

    </div>

    <!-- Botón para volver -->
    <a href="{% url 'index' %}?dataset={{ dataset }}" class="back-button">⬅ Volver al Dashboard </a>
</div>
{% endblock %}

