{% extends "base_generic.html" %}

{% block title %}
<title>Inicio | TFG</title>
{% endblock %}

{% block content %}
    <h1>Dataset: {{dataset}}</h1>

    <div class="contenedor-formularios">
        <!-- Formulario para seleccionar dataset -->
        <div class="formularios_index">
            <form method="GET" class="formulario_dataset">
                {{ form.as_p }}

                <p class="helptext">
                    ¿No encuentras el dataset que buscas? 
                    <a href="{% url 'subida' %}">Sube uno nuevo aquí</a>
                </p>

                <button type="submit" class="btn btn-primary">Cargar Dataset</button>
            </form>
            
            <hr>
            <div id="acciones-dataset">
            <!-- Formulario para actualizar dataset (dentro del mismo bloque visual) -->
            <form method="POST" action="{% url 'vista_generar_json' %}" class="botones-form-index">
                {% csrf_token %}
                <input type="hidden" name="dataset" value="{{ dataset }}">
                <button type="submit" class="btn-update">Actualizar dataset</button>
            </form>

            <form method="POST" action="{% url 'eliminar_dataset' %}" class="botones-form-index">
                {% csrf_token %}
                <input type="hidden" name="dataset" value="{{ dataset }}">
                <!--Se incluye mensaje de confirmación-->
                <button type="submit" class="btn-delete" onclick="return confirm('¿Seguro que deseas eliminar este dataset?')">
                    Eliminar dataset
                </button>
            </form>
            </div>
            
        </div>
    </div>
    
  
    <!--Al cargar el dataset se controla si tiene JSON o no para crearlo-->
    <script>
        document.querySelector("form[method='GET']").addEventListener("submit", function(event) {
            event.preventDefault(); // Detiene el envío del formulario para ejecutar las funciones
    
            let dataset = new URLSearchParams(new FormData(this)).get("dataset");
            if (!dataset) return;
    
            // Verifica si el archivo JSON existe antes de redirigir
            fetch("{% url 'verificar_json' %}?dataset=" + dataset)
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        // Si el JSON existe, redirige directamente al index con el dataset seleccionado
                        window.location.href = "{% url 'index' %}?dataset=" + dataset;
                    } else {
                        // Si no existe, redirige a la generación del JSON
                        window.location.href = "{% url 'vista_generar_json' %}?dataset=" + dataset;
                    }
                })
                .catch(error => console.error("Error al verificar JSON:", error));
        });
    </script>

{% endblock %}