* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  padding: 40px 40px;
}

h1, h2, h3 {
  color: #222;
  padding-top: 30px;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
  color: #2c3e50;
}

h2 {
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 2px solid #b92929;
  padding-bottom: 5px;
}

p {
  font-size: 18px;
}

hr{
  margin:25px 0;
}

/* Navegación */
nav {
  position: fixed; /* Para que esté fija en la parte superior de la pantalla */
  top: 0;
  left: 20px;
  width: 100%;
  height: 40px; 
  background-color: #f4f4f4; 
  z-index: 1000; /* Para que siempre esté por encima del contenido */
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover{
  color: blue;
}

nav a.active {
  border-bottom: 3px solid blue;
  color: blue;
  padding-bottom: 2px;
  font-weight: bold;
}


/* Paginación */
.pagination {
  text-align: center;
  margin-top: 40px;
}

.pagination a {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  color: white;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
  font-size: 14px;
}

.pagination a:hover {
  background-color: #2980b9;
}

.pagination span {
  margin: 0 12px;
  font-weight: bold;
  font-size: 14px;
}

/* Mensajes de éxito y error */
.correcto {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px auto;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  margin: 20px auto;
}

/* Estilos para formularios */
input, button {
  display: block;
  width: 40%;
  max-width: 200px;
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  background: #007BFF;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  border: none;
  margin:20px auto;
}

button:hover {
  background: #0056b3;
}

select {
  padding: 5px;
  margin: 5px;
}

.helptext{
  font-size: 15px;
  margin: 10px 0;
}

/* Formulario de consulta SPARQL */
#consulta-form {
  width: 90%;
  max-width: 1000px;
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#consulta-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#consulta-form textarea {
  width: 97%;
  height: 200px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: vertical;
}

/* Formulario exportación de consulta */
#exportForm {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px 30px;
  max-width: 370px;
  background: #fff;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#exportForm label {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap; /* Evita que el texto se divida */
}

#exportForm select {
  font-size: 14px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#exportForm button {
  margin-left: 35px;
  padding: 6px 12px;
  font-size: 14px;
  max-width: 100px;
}

/* Formulario de exportación de resultados de filtrado */
#exportFormTTL {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  max-width: 380px;
  margin: 30px auto;
}

#exportFormTTL label {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

#exportFormTTL button {
  font-size: 14px;
  margin: 0;
  max-width: 100px;
}

/* Formulario subida datasets */
#form-subida{
  width: 90%;
  max-width: 500px;
  background: #fff;
  padding: 35px 10px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

#form-subida input{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Index*/
.contenedor-formularios {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.formularios_index {
  background: white;
  padding: 35px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.formulario_dataset button{
  margin-top: 40px;
}

#acciones-dataset {
  display: flex;
  justify-content: center; 
  gap: 20px;
  margin-top: 20px;
}

#acciones-dataset button {
  display: inline-block;
  width: 160px;
  margin: 0;
}

/* Título */
#titulo-dataset {
  font-size: 28px;
  color: #2c3e50;
  text-align: center;
  min-height: 1.5em;
  font-weight: bold;
}

/* Mensaje debajo del título */
.mensaje-dataset {
  display: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #155724;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Animación para que aparezca y desaparezca el mensaje */
.mensaje-dataset.mostrar {
  display: block;
  opacity: 1;
  animation: desaparecer 2.5s ease 3s forwards;
}

@keyframes desaparecer {
  to {
    opacity: 0;
    display: none;
  }
}


/* Tablas resultados SPARQL */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  table-layout: fixed; /* Ajusta las columnas de manera uniforme */
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  word-break: break-word; /* Permite dividir palabras largas */
  white-space: normal; /* Permite saltos de línea */
  overflow-wrap: break-word; /* Divide palabras largas */
}

th {
  background: #3498db;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

/* Página estadisticas (dashboard+filtrado)*/
.estadisticas {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/* Barra lateral de filtrado */
.barra-filtros {
  width: 280px; 
  padding: 20px 20px 20px 0;
  border-right: 2px solid #ddd; 
  overflow-y: auto; /* Permite scroll interno si hay muchos filtros */
  flex-shrink: 0; /* Evita que la barra se reduzca en pantallas pequeñas */
  position: sticky; /* Hace que la barra lateral permanezca visible */
  top: 40px; /* La mantiene debajo del menú de navegación */
  height: calc(100vh - 80px); /* Ajusta la altura para que encaje con la pantalla */
}

.barra-filtros h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

/* Contenedor de cada uno de los campos de la barra lateral */
.busqueda-group {
  margin-bottom: 15px;
  margin-top: 5px;
  margin-right: 20px;
}

.busqueda-group label {
  font-weight: bold;
  text-align: left;
  white-space: nowrap; /* Evita que el texto del label se divida */
  display: block; /* Aparece el label como bloque, en una línea*/
}

.busqueda-group select,
.busqueda-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botones de búsqueda y limpiar */
.busqueda-botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 35px;
}

.busqueda-botones button {
  width: 40%;
  max-width: 200px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Contenido de la página de estadísticas (dashboard+filtrado) */
.info {
  flex-grow: 1; /* Se expande para ocupar el espacio restante */
  padding: 0 30px;
}

/* Estilos dashboard */
.metricas{
  display:flex;
  flex-direction: row;
  padding:30px 0;
}

.metricas > *{
  background-color: white;
  border-radius: 5px;
  flex: 1 0 auto;
  text-align: center;
  padding: 20px;
}

.indicador{
  font-size: 2rem;
  font-weight: bold;
}

.grafico {
  width: 100%;
  overflow-x: auto; /* Si es más grande, permite scroll */
  overflow-y: scroll;
  padding-bottom: 20px;
} 

/* Página instancias filtradas */
.info ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
}

.info li {
  background: #ffffff;
  padding: 12px;
  border-radius: 8px;
  transition: background 0.3s ease;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; /* Permite que las palabras largas se dividan */
  overflow-wrap: break-word; /* Alternativa para navegadores modernos */
  white-space: normal; /* Permite que el texto pase a la siguiente línea */
}

.info li:hover {
  background: #ecf0f1;
}

/* Mostrar los filtros activos */
.filtros-lista {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin:25px 0;
}

.filtro-item {
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.filtro-item a {
  margin-left: 8px;
  color: #a00;
  text-decoration: none;
  font-weight: bold;
}

.borrar-todo {
  align-items: center;
  padding: 5px 10px;
  color: #a00;
  font-weight: bold;
  text-decoration: none;
}

.tit-filtros{
  font-weight: bold;
  margin-right: 5px;
  align-items: center;
  padding: 5px 0;
}

.tit-filtro{
  font-weight: bold;
  margin-right: 5px;
}

/* Página de una instancia */
.explorar-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto;
}

.total-instancias {
  font-size: 18px;
  font-weight: bold;
  color: #a00;
  padding-right: 25px;
}

#uri_instancia {
  display: block;
  font-size: 14px;
  color: #555;
  text-align: center; 
  margin-top: 5px; 
  font-style: italic; 
  margin-bottom: 25px;
}

/* Pantalla de carga */
.loading-container {
  text-align: center; /* Centrar el contenido */
  margin-top: 50px;
}

.loading-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50; /* Azul oscuro */
}

.loading-container p {
  font-size: 18px;
  color: #555;
}

/* Mensaje de progreso */
#loading-message {
  font-size: 20px;
  font-weight: bold;
  color: #3498db; 
  margin-top: 20px;
  padding: 10px;
  background: #dfeaf3; 
  border-left: 5px solid #2980b9; 
  display: inline-block;
}

/* Página de ayuda */
.help-container {
  max-width: 850px;
  margin: auto;
  padding: 40px 70px;
  line-height: 1.6;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.help-container h3 {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #555;
}

.help-container ul {
  padding-left: 20px;
  margin-top: 20px;
}

.help-container li {
  margin-bottom: 8px;
}

.help-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.help-container a:hover {
  text-decoration: underline;
}


/* Estilos para mejorar la apariencia en móviles */
@media (max-width: 800px) {
  body {
      font-size: 16px;
  }
  
  form {
      width: 90%;
  }

  .metricas{
    display:block;
    flex-direction: row;
    padding:30px 0;
  }

  .estadisticas {
    flex-direction: column; /* Cambia a diseño en columna */
  }

  .barra-filtros {
    width: 100%; /* Ocupa todo el ancho */
    border-right: none;
    border-bottom: 2px solid #ddd; /* Línea separadora abajo */
  }

  .busqueda-botones {
    flex-direction: column;
  }

  .busqueda-botones button {
    width: 100%;
}

}